apiVersion: v1
kind: Secret
metadata:
  name: {{ include "database.fullname" .}}-auth
type: Opaque
data:
  username: {{.Values.secret.username | b64enc | quote}}
  password: {{.Values.secret.password | b64enc | quote}}




